<!--
including header content which is common for all pages
-->
<%- include ('layouts/header.ejs'); %>


    <div class="container">
        <p>
        <h5>
            Все мероприятия
        </h5>
        </p>
    </div>


    <!--
including footer content which is common for all pages
-->
    <%- include ('layouts/footer.ejs'); %>