<%- include ('layouts/header.ejs'); %>

    <div class="container">
        <ul>
            <li>
                <a href="https://haf-spb.org/">фонд Гуманитарное действие (Спб)</a>
            </li>
            <li>
                <a href="https://haf-spb.org/knowledge/ ">информационные материалы фонда Гуманитарное действие</a>
            </li>
            <li>
                <a href="https://spid.center/ru">фонд и медиа СПИД-центр</a>
            </li>
            <li>
                <a href="https://life4me.plus/ru/">проект знаний о ВИЧ + мобильное приложение</a>
            </li>
            <li>
                <a href="https://t.me/territoryof_life">телеграм-канал о работе НКО в сфере ЛУН в регионах</a>
            </li>
        </ul>
    </div>


    <%- include ('layouts/footer.ejs'); %>