<%- include ('layouts/header.ejs'); %>

    <div class="container">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne">
                        Профессиональные юристы
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul>
                            <li>Анастасия Шевчук @Anastasiia_Sch</li>
                            <li>Арсений Левинсон @bashmaki</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        «Уличные» юристы (прим.: без образования, но с большим опытом)
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul>
                            <li>Герман Урыков +79637387033 </li>
                            <li>Иван Жаворонков +79086334951</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include ('layouts/footer.ejs'); %>