</body>
<footer>
    <div class="container">

        <div>
            
            <h1> Сделано командой Школы 21 <span class="badge text-bg-success">para_Normal</span></h1>
        </div>
    </div>
</footer>
</html>