</body>
<footer>
    <div class="container">

        <!-- <div class="position-absolute bottom-0 start-0"> -->

        <h1> Сделано командой Школы 21 <span class="badge text-bg-success">para_Normal</span></h1>
        <!-- </div> -->
    </div>
</footer>

</html>